<template>
  <div class="job-search" ref="wrapper">
    <div class="search-bar">
      <input v-model="query" class="input shadow">
      <button @click="fetchInitialSearchResults()" class="shadow">Suche</button>
    </div>

    <h2>{{ numberOfJobs }} Stellenangebote gefunden</h2>
    <ul>
      <div v-for="(searchResult, index) in searchResults" v-bind:key="index" class="job-card shadow">
        <div class="job-card-text">
          <h3 class="title">{{searchResult.attributes.title}}</h3>
          <p class="company">{{searchResult.attributes.company.name}}</p>
          <p>{{searchResult.attributes.introduction}}</p>
        </div>
        <div>
          <img :src="searchResult.attributes.company.logo" />
          </div>
      </div>
    </ul>
    <Skeleton v-if="loading" />
    <p v-if="noResultsLeft">Keine weiteren Stellenangebote verfügbar.</p>

  </div>
</template>

<script>
import { getSearchJobs } from '../services'
import Skeleton from './Skeleton'

export default {
  name: 'JobSearch',
  components: {
    Skeleton
  },
  data: function () {
    return {
      query: '',
      searchResults: [],
      numberOfJobs: 0,
      noResultsLeft: false,
      currentPage: 1,
      loading: false
    }
  },
  methods: {
    fetchInitialSearchResults: async function () {
      this.loading = true
      this.currentPage = 1
      const response = await getSearchJobs(this.query, this.currentPage)
      this.numberOfJobs = response.meta.pagination.total

      if (this.numberOfJobs > 0) {
        this.searchResults = response.included
      } else {
        this.searchResults = []
      }

      this.noResultsLeft = response.meta.pagination.current_page === response.meta.pagination.total_pages

      this.loading = false
    },
    fetchMoreSearchResults: async function () {
      this.loading = true
      const response = await getSearchJobs(this.query, ++this.currentPage)

      const newResults = response.included
      this.searchResults = [...this.searchResults, ...newResults]

      this.noResultsLeft = response.meta.pagination.current_page === response.meta.pagination.total_pages

      this.loading = false
    },
    handleScroll: function () {
      if (this.loading) return
      if (this.noResultsLeft) return

      // On Mac computers, the condition below is only met if you substract 2 (because of a small offset of ~1px)
      const bottomOfWindow = window.innerHeight + document.documentElement.scrollTop >= document.documentElement.offsetHeight - 2
      if (bottomOfWindow) {
        this.fetchMoreSearchResults()
      }
    }
  },
  mounted: function () {
    window.addEventListener('scroll', this.handleScroll)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.job-search {
  margin: 0px 100px;
}
.search-bar {
  width: 100%;
}
.input {
  border: 1px solid lightgrey;
  padding: .75rem;
  margin-right: 15px;
  font-size: .875rem;
}
button {
  cursor: pointer;
  border: 1px solid #42b983;
  height: 100%;
  padding: .75rem;
  background-color: #42b983;
  color: white;
}
.job-card {
  border: 1px solid lightgrey;
  padding: 25px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.job-card-text {
  text-align: left;
  margin-right: 15px;
}
.title {
  margin: 0px;
}
.company {
  font-size: 12px;
}
.shadow {
  box-shadow: 3px 3px 5px silver;
}
h3 {
  margin: 40px 0 0;
}
ul {
  padding: 0;
}
li {
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
