<template>
    <div class="job-card-skeleton shadow">
        <div class="job-card-text">
            <h3 class="title content"/>
            <p class="company content"/>
            <p class="description content"/>
        </div>
        <div class="image content" />
    </div>
</template>

<script>
export default {
  name: 'Skeleton'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.job-card-skeleton {
    border: 1px solid lightgrey;
    padding: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.job-card-text {
    width: 100%;
    text-align: left;
    margin-right: 15px;
}
.title {
    width: 250px;
    height: 22px;
    margin: 0px;
}
.company {
    width: 80px;
    height: 14px;
}
.description {
    width: 80%;
    height: 72px;
}
.image {
    width: 110px;
    height: 110px;
}
.content {
    border-radius: 5px;
    background-color: lightgrey;
}
.shadow {
    box-shadow: 3px 3px 5px silver;
}
</style>
